.filter {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 15px;
  font-size: small;
}

.input {
  width: 200px;
  height: 20px;
  padding: 5px;
  display: flex;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.label {
  margin-left: 3px;
}